<section>

  <h4>Le site</h4>
  <p>En partenariat avec Twitch, ce site est conçu, en adéquation avec la demande et les contraintes de Denis Ange, sous Angular.</p>

  <h4>Fonctionalités</h4>
  <p>Vous pouvez en tappant le nom d'un streameur obtenir des informations du type : nom, nombre d'abonnés, extrait de stream...</p>

  <h4>Problèmes rencontrés</h4>
  <p>Découverte d'Angular, API de league of legends (perte de temps)</p>

  <h4>Méthodes de travail</h4>
  <p>Vidéo sur Angular, Internet pour résoudre les problèmes (StackOverFlow), Utiliser la console pour debugger</p>
  <h4>L'équipe de dev</h4>
  <ul>
    <li>Développeur ++ : Chhaju</li>
    <li>Scrum master : Lilian </li>
    <li>Product Owner : Alexis</li>
    <li>Responsable Technique : thomas</li>
  </ul>
</section>
