<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
  <script src="assets/v1.js"></script>

  <style>
    .profile-head {
      transform: translateY(5rem)
    }

    .cover {
      background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
      background-size: cover;
      background-repeat: no-repeat
    }

    body {
      background: #654ea3;
      background: linear-gradient(to right, #e96443, #904e95);
      min-height: 100vh;
      overflow-x: hidden
    }
  </style>
</head>

<!--<div class="container d-flex justify-content-center mt-5">-->
<!--  <div class="card">-->
<!--    <div class="top-container"> <img src="{{ img_url }}" class="img-fluid profile-image" width="70">-->
<!--      <div class="ml-3">-->
<!--        <h5 class="name">{{ test }}</h5>-->
<!--        <p class="mail">{{partner}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">-->
<!--      <div class="dollar-div px-3">-->
<!--        <div class="round-div"><i class="fa fa-heart heart"></i></div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-column text-right mr-2"> <span class="current-balance">Total Followers</span> <span class="amount">{{followers}}</span> </div>-->
<!--    </div>-->
<!--    <div class="recent-border mt-4"> <span class="recent-orders">Fonctionnalité 1</span> </div>-->
<!--    <div class="wishlist-border pt-2"> <span class="wishlist">Fonctionnalité 2</span> </div>-->
<!--    <div class="fashion-studio-border pt-2"> <span class="fashion-studio">Fonctionnalité 3</span> </div>-->
<!--  </div>-->
<!--</div>-->

<div class="row py-5 px-4">
  <div class="col-md-5 mx-auto">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3"><img src="{{ img_url }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">{{ name }}</h4>
            <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i>{{partner}}</p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{followers}}</h5><small class="text-muted"> <i
            class="fas fa-user mr-1"></i>Abonnés</small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">A propos </h5>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">{{description}}</p>
        </div>
      </div>
      <a routerLink="stream/{{name}}"> Voir son stream :</a>
    </div>

  </div>
</div>
